# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @Zhaph will be requested 
# for review when someone opens a pull request.

*       @Zhaph @cordwartman @Hukoseft

# Order is important; the last matching pattern takes the most precedence.

# Core Game System

# Forces of Good

# The_Fellowship.cat            
# The_Shire.cat                 
# The_Rangers.cat               
# Numenor.cat                   
# Minas_Tirith                  
# The_Fiefdoms                  
# The_Dead_of_Dunharrow.cat     
# Arnor.cat                     
# Rohan.cat                     
# Wildmen_of_Druadan.cat        
# Rivendell.cat                 
# Lothlorien.cat                
# Fangorn.cat                   
# The_Misty_Mountains.cat       
# The_Kingdom_of_Khazad-Dum.cat 
# Wanderers_in_the_Wild.cat     
# Army_of_Thror.cat             

# Forces of Evil

# Barad_dur.cat                   
# Angmar.cat                      
# Mordor.cat                      
# Moria.cat                           
# Isengard.cat                    
# The_Easterlings.cat             
# Variags_of_Khand.cat            
# The_Serpent_Horde.cat           
# Far_Harad.cat                   
# Corsairs_of_Umbar.cat           
# Sharkeys_Rogues.cat             
# The_Trolls.cat                