# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @Zhaph will be requested 
# for review when someone opens a pull request.

*       @Zhaph @cordwartman


# Order is important; the last matching pattern takes the most precedence.

# Core Game System

# Forces of Good

# The_Fellowship.cat            @Zhaph
# The_Shire.cat                 @Zhaph
# The_Rangers.cat               @Zhaph
# Numenor.cat                   @Zhaph
# Minas_Tirith                  @Zhaph
# The_Fiefdoms                  @Zhaph
# The_Dead_of_Dunharrow.cat     @Zhaph
# Arnor.cat                     @Zhaph
Rohan.cat                       @cordwartman
# Wildmen_of_Druadan.cat        @Zhaph
Rivendell.cat                   @cordwartman
Lothlorien.cat                  @cordwartman
# Fangorn.cat                   @Zhaph
# The_Misty_Mountains.cat       @Zhaph
The_Kingdom_of_Khazad-Dum.cat   @cordwartman
# Wanderers_in_the_Wild.cat     @Zhaph

# Forces of Evil

Barad_dur.cat                   @cordwartman
Angmar.cat                      @cordwartman
Mordor.cat                      @cordwartman
Moria                           @cordwartman
Isengard.cat                    @cordwartman
The_Easterlings.cat             @cordwartman
Variags_of_Khand.cat            @cordwartman
The_Serpent_Horde.cat           @cordwartman
# Far_Harad.cat
# Corsairs_of_Umbar.cat
Sharkeys_Rogues.cat             @cordwartman
